.header, .headerInfo, .profilePage, .userBody, .headerPic{
    display: flex;  
    justify-content: center;
}
.profilePage {
    flex-direction: column;
    align-items: center;
    width: 50%;
    min-width: 800px;
    background-color: #f8f8f8;
    height: 100%;
}
.headerPic{
    justify-content: center;
    width: 50%;
    /* border: solid black 1px; */
    align-items: center;
    box-shadow:rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
    background-color: #fff;
 
    padding: 2%;
    margin-right: 1%;
    position: relative;
}
.profilePic {
    /* height: 100%; */
    border-radius: 50%;
    max-width: 100%;
}
.headerInfo {
    flex-direction: column;
    align-items: left;
    padding-left: 2%;
    width: 50%;
    /* border: solid black 1px; */
    font-size: 2rem;
    box-shadow:rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
    padding: 2%;
    background-color: #fff;

}

.header {
    width: 80%;
    margin-top: 2%;
}

.bio {
    height: auto;
    width: 65%;
    /* border: solid black 1px; */
    font-size: 1.5rem;
    box-shadow:rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
    background-color: #fff;

    padding: 2%;
}

.userBody {
    width: 100%;
    flex-direction: column;
    align-items: center
}

.userEmail, .userBody {
    margin-top: 2%;
    /* font-size: 2rem; */
}

.userEmail {
    box-shadow:rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
    background-color:#fff;

    padding: 2%;
}

.userName {
    background-color: #fff;

    padding: 2%;
    width: 100%;
}

.userAge {
    width:100%
}

#menuBuild{
    padding-left: 25%;
    padding-top: 3%;
    position: fixed;
    color: black;
}

#menuBuild:hover{
    color:#1db954
}

#bioBuild {
    text-align: end;
    padding-right: 2%;
    position: absolute;
    right: 0;
    bottom: 0
}

#bioBuild:hover {
    color: #1db954;
    cursor: pointer;
}

.bioText {
    padding-right: 3%;
    position: relative;
}

#picBuild {
    padding-bottom: 2%;
    padding-right: 2%;
    position: absolute;
    right: 0;
    bottom: 0
}

#picBuild:hover {
    color: #1db954;
    cursor: pointer;
}

.labels {
    font-size: 2rem;
    border-bottom: 1px solid grey;
    width:100%;
    color: #1db954;
}

.title{
    border-bottom: 1px solid grey;
    width: 100%;
    font-size: 3rem;
    color: #1db954;
}

.titleContainer {
    width: 100%;
}

#editBtn {
    height: 200px;
}

.drawerInput input{
    text-align: center;
}